:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
  margin: 5% 0 auto;
}

body {
  background-color: var(--main-bg-color);
  font-family: minion-pro, serif;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  text-align: center;
  cursor: url('question.png') 0 16, pointer;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0 auto;
  padding: 7px 0 10px;
  color: var(--main-bg-color);;
}

.container {
  width: 85%;
  border: 3px solid white;
  border-radius: 5px;
}

#heading {
  background-color: var(--alt-bg-color);
}

#sheet {
  background: linear-gradient( to bottom, var(--main-text-color), var(--main-text-color) 50%, var(--alt-bg-color) 50%, var(--alt-bg-color));
  background-size: 100% 38px;
}

input[type='radio'] {
  width: 13px;
  height: 13px;
  accent-color: #3861f0;
  cursor: url('pencil.png') 0 16, default;
}