body {
  font-size: 12px;
}

#sheet {
  background: linear-gradient( to bottom, var(--main-text-color), var(--main-text-color) 50%, var(--alt-bg-color) 50%, var(--alt-bg-color));
  background-size: 100% 38px;
}

input[type='radio'] {
  width: 13px;
  height: 13px;
}